body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}
#noofsen{
    margin-top: 50px;
}
.container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 100px;
}
.container1 {
    width: 50vw;
    height: 30h;
    background-color: aqua;
}

h1 {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #30b537;
}

#message {
    margin-top: 20px;
    font-size: 16px;
}
